<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AP.SATM.Eyes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICore" receiveTimeout="03:00:00" sendTimeout="00:01:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <reliableSession inactivityTimeout="00:01:00" enabled="true"/>
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ssl">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <clientCredentials>
            <!--<clientCertificate findValue="CN=crusader"/>-->
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://127.0.0.1:8086/SATM/" behaviorConfiguration="ssl" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICore" contract="satmClient.ICore" name="NetTcpBinding_ICore">
        <identity>
          <dns value="AP.SATM.Heart"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <userSettings>
    <AP.SATM.Eyes.Properties.Settings>
      <setting name="x509" serializeAs="String">
        <value>83 0d 66 76 8a b9 a0 93 47 71 b7 5e 5c 80 f3 32</value>
      </setting>
      <setting name="illegalColor" serializeAs="String">
        <value>IndianRed</value>
      </setting>
      <setting name="legalColor" serializeAs="String">
        <value>PaleGreen</value>
      </setting>
      <setting name="processedColor" serializeAs="String">
        <value>Aquamarine</value>
      </setting>
    </AP.SATM.Eyes.Properties.Settings>
  </userSettings>
</configuration>
