<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AP.SATM.RaySpider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AP.SATM.RaySpider.Properties.Settings.ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=intellect;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <AP.SATM.RaySpider.Properties.Settings>
            <setting name="Owner" serializeAs="String">
                <value>AP.CHANGEME</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>18086</value>
            </setting>
            <setting name="Config" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>217.77.220.8:1:1:0</string>
                        <string>217.77.220.8:2:2:0</string>
                        <string>217.77.220.8:3:3:0</string>
                        <string>217.77.220.8:4:4:0</string>
                        <string>192.168.47.101:1:5:0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectState" serializeAs="String">
                <value>SELECT TOP 1 [action] FROM[intellect].[dbo].[PROTOCOL] WHERE objtype = 'GRAY' AND owner = @owner and objid = @objid ORDER BY date DESC</value>
            </setting>
            <setting name="InsertEvent" serializeAs="String">
                <value>INSERT INTO [intellect].[dbo].[protocol] ([objtype],[objid],[action],[region_id],[param0],[param1],[param2],[param3],[date],[time],[time2],[owner],[pk],[user_param_double])
VALUES('GRAY',@objid,@action,'','','','','',@date,@date,@date,@owner,NEWID(), NULL)</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>TCP</value>
            </setting>
        </AP.SATM.RaySpider.Properties.Settings>
    </applicationSettings>
</configuration>
