<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AP.SATM.Heart.Properties.Settings.satmConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=satm;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="f:\temp\TracingAndLogging-service.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>

  <system.serviceModel>
    <client />
    <diagnostics>
    <!-- Enable Message Logging here. -->
    <!-- log all messages received or sent at the transport or service model levels > -->
      <messageLogging logEntireMessage="true"
                      maxMessagesToLog="2147483647"
                      maxSizeOfMessageToLog="2147483647"
                      logMessagesAtServiceLevel="true"
                      logMalformedMessages="true"
                      logMessagesAtTransportLevel="true" />
    </diagnostics>

    <services>
      <service name="AP.SATM.Heart.Core" behaviorConfiguration="satmBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://*:8086/SATM/"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="satmBinding"
                  contract="AP.SATM.Heart.ICore" />
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="satmBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" closeTimeout="00:00:05" 
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <reliableSession inactivityTimeout="03:00:00" enabled="true"/>
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="satmBehavior">
          <serviceDebug includeExceptionDetailInFaults="True" />
          <!--<serviceAuthorization serviceAuthorizationManagerType="AP.SATM.Heart.Auth, AP.SATM.Heart" />-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata/>
          <serviceCredentials>
            <serviceCertificate storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName" findValue="AP.SATM.Heart" />
            <clientCertificate>
              <authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
